@model EletronicosRuiz.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center my-4">Details</h1>

<div class="container">
    <h4 class="text-center">Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <div class="text-center mt-4">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>
</div>
